body{
  color: #1c3642;
  background-image: url(../img/triangles.jpg);
  background-color: #75d8e5;
  margin: 10px;
  padding: 10px;
  border: 5px;
}
.body-content{
  margin-top:55px;
  width:75%;
  margin-left: auto;
  margin-right: auto;
  border: 5px;
  border-color: #07f4f4;
  z-index: 1;
  border-style:dashed;
  padding: 30px;
}
h1{
  text-align: center;
  color: #07f4f4;
}
h2{
  text-align: center;
  color: #07f4f4;
}
ul{
  display: inline-block;
  /* text-align: center; */
}
#input{
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  /* margin-bottom: 15px; */
  padding: 30px;
  border: 3px;
}
.input [type=text]{
  box-sizing: border-box;
  border-color: green;
  padding: 5px;
}
.input [type=submit]{
  /* box-sizing: content-box; */
  /* background-color: blue; */
  padding: 5px;
}
.formcontainer{
  background-image: url(../img/tria.jpg);
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #3ce0b7; */
}
